:root {
  --accentcolor: #EC4C8A;
  --mainbgcolor: #F94E8F;
  --stripecolor:#DF4782;
  --blockcolor1:#DC4781;
  --blockcolor2:#D14479;
}

.App {
  text-align: center;
  font-size: 120%;
  color: white;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
  background-color: var(--accentcolor);
  display: flex;
  justify-content: space-between;
  padding:5px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.toInfoCircle{
  position: relative;
  top: -99px;
  left: 26px;
  color: white;
}
.mainCountryBlock{
  min-width:200px;
  padding:20px 0;
  display: inline-block;
}
.mainCountryWrapper{
  display: flex;
  background-color: green;
}

.mainTxtStripe{
  background-color: var(--stripecolor);
  text-align: left;
  padding-left: 5px;
}

.indicationStripe{
  display: flex;
  background-color: hotpink;
  text-align: left;
}

.selects > *{
  height: 30px;
  margin-left: 5px;
}

.countryImg{
  width: 50%;
}
.infoHeader{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}
.infoHeader > *{
  width: 50%;
  }
.countryImgInfoPage{
  width: 80%;
}
.infoStat{
  padding:30px;
  display: flex;
  justify-content: space-between;

  font-size: 200%;
}
.infoStatsBlock:nth-child(odd){
  background-color: gold;
}
.infoStatsBlock:nth-child(even){
  background-color: green;
}
.indicationStripe{
  padding:5px;
  font-size: 120%;
  background-color: hotpink;
  text-align: left;
}
.infoheaderRight{
  font-size: 130%;
}

.evencol{
  background-color: rgb(212, 61, 86);
}
.oddcol{
  background-color: rgb(168, 71, 87);
}

.mainHeaderBlock{
  background-color: rgb(201, 48, 125);
display: flex;
align-items: center;
}
.mainHeaderBlock > *{
width: 50%;
padding:20px;

}